body{
    background: linear-gradient(#E7E7E7,transparent);
}
#tutor {
    column-count: 2;
    column-gap: 40px;
    padding-top: 45px;
    border:2px solid #009220;
    padding: 1em;
    box-sizing: border-box;
    margin: 0.5%;
    float: left;
    width: 49%;
}
#sectio-student {
    column-count: 3;
    column-gap: 40px;
    border:2px solid #009220;
    padding: 1em;
}